spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/DonMingod/config-repo-mydiary
          default-label: main
          clone-on-start: true
          timeout: 10

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config: DEBUG